<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tasks List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
</head>
<body>

<h1 class="text-center">Ajouter une tâche</h1>


<div class="pricing-box-container">
    <div class="pricing-box text-center">
    </br>
<form th:action="@{/add-tasks}" th:object="${task}"  method="post">
    <label for="name">Libellé de votre tâche </label>
    <input type="text"  th:field="*{taskName}" id="name" placeholder="Inscrivez votre tâche">
    <button class="btn-primary"  type="submit" >Ajouter une tâche</button>
</form>
</div>
</div>


</div>
</body>
</html>

