<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Tasks List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
</head>
<body>

<h1 class="text-center">Modifier une tâche</h1>


<div class="pricing-box-container">
    <div class="pricing-box text-center">
    </br>
<form method="post" th:action="@{/edit-tasks/{id}(id=${task.id})}" th:object="${task}">
    <label for="name">Libellé</label>
    <input type="text" th:field="*{taskName}" id="name" placeholder="Name">
    <button class="btn-primary"  type="submit" >Mettre à jour une tâche</button>
</form>

    </div>
</div>



</div>
</body>
</html>

