<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tasks List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Modifier une tâche</h1>



<form method="post" th:action="@{/edit-tasks/{id}(id=${task.id})}" th:object="${task}">
    <label for="name">Name</label>
    <input type="text" th:field="*{taskName}" id="name" placeholder="Name">
    <input type="submit" value="Update User">
</form>





</div>
</body>
</html>

