<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tasks List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
</head>
<body>


<h1 class="text-center">To Do List </h1>

<div class="pricing-box-container">
    <div class="pricing-box text-center">
        <h5>Never been there ?</h5>

        <ul class="features-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
        <button class="btn-primary">Sign Up</button>
    </div>

    <div class="pricing-box pricing-box-bg-image text-center">
        <h5>Want</h5>
        <ul class="features-list">
            <li>to</li>
            <li>do</li>
            <li>a</li>
            <li>ToDoList ?</li>
        </ul>

    </div>

    <div class="pricing-box text-center">
        <h5>Welcome back</h5>

        <ul class="features-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
        <button class="btn-primary">Sign In </button>
    </div>
</div>

<footer>
    <p>
        Created by
        <a target="_blank" >Val et So</a>

    </p>
</footer>


</div>

</div>
</body>
</html>

